{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">
            For Any Queries & Suggestions Contact Us. We Are Happy To Help.
        </p>
    </div>
</div>

<div class="row p-3">

    <!-- ==================== Person 1 ==================== -->
    <div class="col">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Kavishree</h3>
                <p class="lead" style="font-weight: 350;">
                    Hi, I am Kavishree. Feel free to reach out for any queries, support, or collaboration.
                </p>
            </center>

            <div>
                <h5>Social Media Handles :</h5><br>

                <a target="_blank" href="mailto:kavishree@gmail.com">
                    <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" height="40" width="40">
                </a> : kavishree@gmail.com
                <br><br>

                <a target="_blank" href="https://www.linkedin.com/in/kavi-shree-9b6481297">
                    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40">
                </a> : Kavishree
                <br>
            </div>
        </div>
    </div>

</div>


<!-- ==================== Person 2 ==================== -->
<div class="row p-3">

    <div class="col">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Mohan Raj</h3>
                <p class="lead" style="font-weight: 350;">
                    Hi, I am Mohan Raj. Reach out anytime for support or collaboration.
                </p>
            </center>

            <div>
                <h5>Social Media Handles :</h5><br>

                <a target="_blank" href="mailto:mohanraj@gmail.com">
                    <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" height="40" width="40">
                </a> : mohanraj@gmail.com
                <br><br>

                <a target="_blank" href="https://www.linkedin.com/">
                    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40">
                </a> : Mohan Raj
                <br>
            </div>
        </div>
    </div>

</div>


<!-- ==================== Person 3 ==================== -->
<div class="row p-3">

    <div class="col">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Kanishka</h3>
                <p class="lead" style="font-weight: 350;">
                    Hi, I am Kanishka. Feel free to contact me anytime.
                </p>
            </center>

            <div>
                <h5>Social Media Handles :</h5><br>

                <a target="_blank" href="mailto:kanishka@gmail.com">
                    <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" height="40" width="40">
                </a> : kanishka@gmail.com
                <br><br>

                <a target="_blank" href="https://www.linkedin.com/">
                    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40">
                </a> : Kanishka
                <br>
            </div>
        </div>
    </div>

</div>


<!-- ==================== Person 4 ==================== -->
<div class="row p-3">

    <div class="col">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Mohamad Thoufiq</h3>
                <p class="lead" style="font-weight: 350;">
                    Hi, I am Mohamad Thoufiq. You can reach out anytime for help or support.
                </p>
            </center>

            <div>
                <h5>Social Media Handles :</h5><br>

                <a target="_blank" href="mailto:thoufiq@gmail.com">
                    <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" height="40" width="40">
                </a> : thoufiq@gmail.com
                <br><br>

                <a target="_blank" href="https://www.linkedin.com/">
                    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40">
                </a> : Mohamad Thoufiq
                <br>
            </div>
        </div>
    </div>

</div>


{% endblock body %}
